.editor-only {
  min-height: 300px;

  :global(p.is-editor-empty:first-child)::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

.variable-drawer {
  padding: 0 !important;
}