.document-content {

  .sgin-node {
    cursor: text;

    .sgin-node-content {

      .sgin-node-separator {
        margin: 0 1px;
      }

      .sgin-node-code {
        vertical-align: baseline;
        display: inline-block;
        min-width: 36pt;

        .sgin-icon {
          display: inline-block;
          width: 1.25em;
          text-align: center;

          svg {
            display: inline-block;
            transform: scale(1.75);
            cursor: pointer;
          }
        }
      }
    }

    &.editor {
      .sgin-node-curly-braces {
        content: "{{";
        font-weight: 500;
        color: #1677ff;
      }

      .sgin-node-content {
        margin: 0 2px;
        cursor: default;

        .sgin-node-label {
          color: rgb(228, 120, 44);

          &.delete {
            text-decoration: line-through;
          }
        }
      }
    }

    &.preview {
      .sgin-node-curly-braces {
        display: none;
      }

      .sgin-node-code {

        .sgin-node-image {
          display: inline-block;
          height: 1.5em;
          vertical-align: bottom;
        }
      }
    }
  }

  .ProseMirror-selectednode .sgin-view.editor {
    outline: 2px solid #1677ff60;
    border-radius: 3px;
  }
}