.document-content {

  .variable-node {
    cursor: text;

    .variable-node-content {
      display: inline-flex;
      align-items: center;

      .variable-node-separator {
        margin: 0 1px;
      }

      .variable-node-code {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 1px;
          width: 100%;
          border-bottom: 1px currentColor solid;
        }

        .auto-width-input {
          .measure {
            position: absolute;
            z-index: -10;
            visibility: hidden;
            pointer-events: none;
            white-space: pre;

            @media print {
              visibility: initial;
              position: initial;
              z-index: initial;
            }
          }

          .input {
            outline: none;
            min-width: 50px;

            @media print {
              display: none;
            }
          }
        }
      }

      .variable-node-checkbox {
        display: inline-block;
        margin-right: 4px;
        vertical-align: baseline;
        cursor: pointer;
      }
    }

    &.editor {

      .variable-node-curly-braces {
        content: "{{";
        font-weight: 500;
        color: #1677ff;
      }

      .variable-node-content {
        cursor: default;
        margin: 0 2px;

        .variable-node-label {
          color: rgb(228, 120, 44);

          &.delete {
            text-decoration: line-through;
          }
        }
      }
    }

    &.preview {
      .variable-node-curly-braces {
        display: none;
      }
    }
  }

  .ProseMirror-selectednode .variable.editor {
    outline: 2px solid #1677ff60;
    border-radius: 3px;
  }
}