.variable {
  display: inline-flex;
  align-items: center;

  .variable-node-separator {
    margin: 0 1px;
  }

  .variable-node-checkbox {
    display: inline-block;
    margin-right: 4px;
  }

  &.editor {
    cursor: default;

    &::before {
      content: "{{";
      font-weight: 500;
      color: #1677ff;
      margin-right: 0.125em;
    }

    &::after {
      content: "}}";
      font-weight: 500;
      color: #1677ff;
      margin-left: 0.125em;
    }

    .variable-node-label {
      color: rgb(228, 120, 44);

      &.delete {
        text-decoration: line-through;
      }
    }
  }
}

:global(.ProseMirror-selectednode) .variable.editor {
  outline: 2px solid #1677ff60;
  border-radius: 3px;
}

:global(.document-editable) {
  .wrapper {
    margin: 0 3px;
  }
}