.node {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  vertical-align: top;
  color: var(--ant-color-primary);
}

.view {
  padding: 0 12px 12px 12px;

  .template {
    padding: 12px 0;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 10;
  }

  .spin {
    min-height: 200px;
  }
}